body {
	background-color: #DFEAED;
	margin-top: 100px;
}

.exceptFooter {
	min-height: 800px;
}

/*Nav bar style*/
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 98%;
			background-color: #334E57;
			border: 1px solid;
			position: fixed;
			top: 0;
			text-align: center;
		}

		li a {
			display: block;
			color: white;
			padding: 16px;
			text-decoration: none;
			text-align: center;
			font-size: 25px; 
			font-family: "Arial Black", Gadget, sans-serif;	
			font-weight: bold;
		}

		li a:hover {
			background-color: black;
			color: white;
		}

		.active {
			background-color: #F54C4C;
			color: black;
		}

		.nav li {
			display: inline-block;
			margin-right: -4px;
		}
/*end nav bar style*/

img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: solid;
	border-width: 1px;
}

footer {
	background-color: #79878C;
	width: 98%;
	text-align: center;
	text-decoration: italic;
	margin-bottom: 0;
	margin-top: 2%;
	padding: 0;
	border: solid;
	border-width: 1px;
}