body {
	background-color: #DFEAED;
	margin-top: 60px;
}

/*Nav bar style*/
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
			background-color: #334E57;
			position: fixed;
			top: 0;
			text-align: center;
		}

		li a {
			display: block;
			color: white;
			padding: 16px 75px 16px 75px;
			text-decoration: none;
			text-align: center;
			font-size: 2em; 
			font-family: "Arial Black", Gadget, sans-serif;	
			font-weight: bold;
		}

		li a:hover {
			background-color: black;
			color: white;
		}

		.active {
			background-color: #F54C4C;
			color: black;
		}

		.nav li {
			display: inline-block;
		}
/*end nav bar style*/

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	text-align: center;
	display: block;
	background-color: white;
	width: 100%;
	padding: 35px 0px 20px 0px;
	margin: 0;
	color: #66130D;
}

h2 {
		font-family: "Arial Black", Gadget, sans-serif;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
}

.daniela {
	float: left;
	margin: 20px 20px 20px 0px;

}

.cosmo {
	float: right;
	margin: 20px;
}

footer {
	background-color: #79878C;
	width: 100%;
	text-align: center;
	text-decoration: italic;
	margin-bottom: 0;
	margin-top: 2%;
	padding: 4px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	clear: both;
	position: fixed;
	bottom: 0;
}